{% extends "index.html" %}

{% block staticfiles %}
    {% load staticfiles %}
    <script src="{% static "js/jquery.form.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.validate.js" %}" type="text/javascript"></script>
    <script src="{% static "js/submit_contact.js" %}" type="text/javascript"></script>
{% endblock %}


{% block title %}JMK Builders - About Us{% endblock %}

{% block content %}


<div><img src="{% static "img/johnk.jpg" %}" style="float: right; margin-top: 100px; margin-right: 260px;"></div>

<div id="content_opacity" class="content_background" style="min-height: 550px;">
    
<h3>About Us</h3>

<div class="content_body">
	<p>JMK Builders was incorporated in 1984 as a premier contractor in the state of New Jersey. Known for renovations and construction in Central New Jersey, most notably in the beautiful Westfield area of Union County, JMK has established itself as an award winning contractor.</p>
    <p>We provide general contracting services such as complete home renovations and construction. Our craftsmanship is marked by meticulous work and adherence to architectural plans and specifications provided by our architectural partners or your chosen architect.</p>
    <p>As a general contractor we handle all aspects of the construction from permit applications to excavation, framing, sheetrocking and finish trim. We schedule and obtain building inspections and approvals per local code and coordinate the scheduling of specialized trades as required per the design. We are craftsmen that take extreme pride in everything we do and JMK will build a home that you are proud to own.</p>
    <p>Our reputation is important to us. Over the years, client referrals have been a primary source of our contracting business. This success is further revealed in our testimonials. For over 20 years we have worked diligently to make our building expertise stand out and provide a rewarding result to our clients. We realize that our success can only be achieved by focusing on each client's individual needs. The technical skills and craftsmanship of our experienced crew and subcontractors combine to achieve remarkable results. For the protection of our employees and clients, we carry full Workers Compensation and General Liability Insurance. Certificates of Insurance are available upon request.</p>
    <p>John Kilduff is the President and Founder of JMK Builders. He is a trusted contractor and personable leader of his construction crews. John and his staff have built the reputation of JMK Builders Inc. by providing a high quality product for their clients.</p>
</div>

<div class="body_fix" style="height:15px;"></div>
			
</div>

{% endblock %}
